---
import videocrepa from '../assets/videocrep.mp4'; 
---

<div  class=" rounded-2xl pt-16 overflow-hidden flex md:w-[50%] sm:w-[55%] w-[45%] md:h-[20rem] sm:h-[18rem] h-[26rem] justify-center m-auto items-center" >
		<video  autoplay loop muted class="w-full h-full object-cover" >

			<source src={videocrepa} >
		</video>
		
	</div>